:root{
  --primary-color: #2e8b57;;
  --secondary-color:black;
  --last-color: white;
}
.goudy-bookletter-1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}
/* *{
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
} */
a{
  text-decoration: none;
}
footer{
  text-align:center;
  color:var(--secondary-color);
  /* background-color:var(--last-color); */
  background-color: #ffffff;
  padding:1rem;
  margin-top:2rem;
}
body{
  background-color:var(--primary-color);
}
h1,h2,h3{
  color:var(--secondary-color);
}
h1{
  text-align:center;
  font-size:3rem;
  margin-top:1rem;
}
h2{
  text-align:center;
  margin-top:1rem;
  background-color: aquamarine;
  margin:0;
  padding: 0;
}
main{
  display:flex;
  margin-top: 10px;
  justify-content: space-between;
}
.scenario{
  width: 300px;
}
.site_purpose{
  width: 300px;
}
.color{
  width:300px;
}
.typo{
  width:300px;
}
p{
  margin:0;
  padding: 0;
  background-color:var(--last-color);
  font-size:15px;
  text-align: center;
}
#navigation{
    /* display:flex;
    justify-content:space-around; */
    align-items:center;
    background-color:var(--last-color);
}
#navigation a{
  text-decoration:none;
  color:var(--secondary-color);
  font-weight:700;
  font-size:1.2rem;
  padding:0.5rem;
  display: inline;
}
#navigation a:hover{
  color:var(--primary-color);
}
#navigation li{
  list-style:none;
}
#navigation ul{
  display:flex;
  justify-content:space-around;
  align-items: center;
  padding:1rem;
  margin:0;
}
footer ul{
  display:flex;
  justify-content:center;
  gap:1rem;
  padding:0;
  margin:0;
}
footer ul li{
  list-style:none;
}
.form{
  background-color: rgb(45, 208, 148);
  /* width: 550px; */
  position:relative;
  width: 500px;
  left: 350px;
  top:10px;
  bottom:10px;
  border: black solid 1px ;
}
iframe{
  position:relative;
  width: 500px;
  left: 350px;
  top:10px;
  bottom:10px;
}
#picture{
    position:relative;
}
#picture source{
    width: 100%;
    height: 100%;
}
#picture img{
    width: 100%;
    height: 100%;
}