@media only screen and (min-width:45em){
    #menu{
        display:none;
    }
    nav ul{
     display:flex;
     justify-content: space-around;
     flex-wrap: wrap;

     /* flex-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
    
    }
   nav li{
    display: flex;
    text-align: center;
    font-size: 25px;
    padding: 0 10px;
   }

}