*{
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: rgb(69, 147, 255);
    text-align: center;
    height: 45px;
    font-size: 20px;
    justify-content: center;
}
body{
    position:relative;
}
form{
    position:relative;
    background-color: rgb(152, 193, 237);
    width: 50%;
    left: 25%;
    top:10px;
    bottom:10px;
}
/* form label{
    font-size:25px;
} */
footer{
    background-color: rgb(69, 147, 255);
    text-align: center;
    height: 45px;
    justify-content: center;
}